.header {
  background-color: var(--color-page-header);
}

.nav {
  @apply flex items-center justify-between;
  @apply w-full mx-auto;
  column-gap: 1em;
}

.nav_right {
  @apply flex;
  column-gap: inherit;
}