@import 'tailwindcss';
@source "../../../packages/ui/";

@theme {
  --color-page-header: var(--color-gray-950);
  --width-content: 80rem;
}

@layer base {
  :root {
    font-size: 16px;
  }

  body {
    @apply font-(family-name:--font-body) text-base antialiased;
  }
}
