@import 'tailwindcss';

@theme {
  --color-page-header: var(--color-gray-950);
  --color-red-glow: oklch(0.577 0.215 27.4 / 0.5);
  --drop-shadow-red-glow: 0 0 12px var(--color-red-glow);
  --width-content: 80rem;
}

@layer base {
  :root {
    font-size: 16px;
  }

  body {
    @apply flex min-h-dvh flex-col font-sans antialiased;
  }

  main {
    @apply flex-1;
  }
}
