.header {
  background-color: var(--color-page-header);
}

.main {
  @apply grid auto-rows-fr;
  @apply grid-cols-[repeat(var(--grid-layout-divisions),minmax(0,1fr))];
  @apply grid-rows-[repeat(var(--grid-layout-divisions),minmax(0,auto))];
  @apply [grid-template-areas:var(--grid-areas)];
  @apply mx-auto w-full;
}

:root {
  --grid-layout-divisions: 12;
  --grid-areas: '. hero hero hero hero hero hero hero hero hero hero .';
}
