.carousel {
  @apply relative block w-full;

  --carousel-bg: transparent;
}

.body {
  --carousel-body-padding-top: 1.25rem;
  --carousel-body-padding-bottom: 3.125rem;

  @apply w-full overflow-hidden;
  @apply pt-(--carousel-body-padding-top);
  @apply pb-(--carousel-body-padding-bottom);
}

.slider {
  @apply relative w-auto;
  @apply grid auto-cols-fr;
  @apply transition-[transform];

  /* --tw-ease: ease-in-out; */
  /* --tw-duration: 1000ms; */
}
